@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.drawer .ant-drawer-header-title > button > span > svg{
      fill: red !important;
}
/* ${mode === 'light' ? 'text-[#0A0A0F]' : ' text-[#FFFFFF] '} */
.text-color-light {
  color:#FFFFFF;
}
.text-color-dark {
  color:#0A0A0F;
}
.bg-color-dark{
  background-color: #0A0A0F;
} 
.bg-color-light{
  background-color: #FFFFFF;
}

